
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/LayoutBlank.cshtml";
}

<h2 class="text-center">注册</h2>

@using (Html.BeginForm("Register", "User", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="form-group">
        <label for="mobile" class="col-lg-2 col-md-2 col-sm-2">手机号</label>
        <div class="col-lg-8 col-md-8 col-sm-8">
            <input type="text" class="form-control" id="mobile" name="mobile" placeholder="手机号">
        </div>
    </div>
    <div class="form-group">
        <div>
            <div class="text-center">
                <a class="btn btn-default" style="margin-top:10px;"><span class="fa fa-send-o"></span>&nbsp;发送验证</a>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="mobileValidCode" class="col-lg-2 col-md-2 col-sm-2">短信验证码</label>
        <div class="col-lg-8 col-md-8 col-sm-8">
            <input type="text" class="form-control" id="mobileValidCode" name="mobileValidCode" placeholder="短信验证码">
        </div>
    </div>
    <div class="form-group">
        <label for="userName" class="col-lg-2 col-md-2 col-sm-2">用户名</label>
        <div class="col-lg-8 col-md-8 col-sm-8">
            <input type="text" class="form-control" id="userName" name="userName" placeholder="用户名">
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="col-lg-2 col-md-2 col-sm-2">密码</label>
        <div class="col-lg-8 col-md-8 col-sm-8">
            <input type="password" class="form-control" id="password" name="password" placeholder="密码">
        </div>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary">注册</button>
    </div>   

}

